@import url('/src/styles/global.css');

body {
    color: yellow;
    background-color: var(--cor-secundaria);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header {
    width: 100%;
    height: 113px;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.header-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 80px;
    justify-content: space-evenly;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-secundaria);
}

.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-primaria);   
}

.image {
    height: 300px;
    width: 300px;
    padding: 50px;
    align-items: start;
}

.info {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    border: 1px solid black;
    width: 100px;
    height: 100px;
}